.Main {
  display: block;
}

// svg path {
//   stroke: white;
//   stroke-width: 2px;
// }

// svg text {
//   fill: white;
//   font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
//   font-size: 14px;
// }

.venn-circle {
  font-size: 11px;
}

.venn-intersection {
  font-size: 7px;
}

@media only screen and (min-height: 350px) {
  .venn-circle {
    font-size: 12px;
  }

  .venn-intersection {
    font-size: 8px;
  }
}

@media only screen and (min-height: 500px) {
  .venn-circle {
    font-size: 14px;
  }

  .venn-intersection {
    font-size: 10px;
  }
}

@media only screen and (min-height: 700px) {
  .venn-circle {
    font-size: 16px;
  }

  .venn-intersection {
    font-size: 12px;
  }
}