.Main {
  display: block;
}

.venn-circle {
  font-size: 12px;
}

.venn-intersection {
  font-size: 8px;
}

@media only screen and (min-width: 350px) {
  .h1, h1 {
    font-size: 2rem;
    text-align: center;
  }

  .venn-circle {
    font-size: 12px;
  }

  .venn-intersection {
    font-size: 8px;
  }
}

@media only screen and (min-width: 500px) {
  .venn-circle {
    font-size: 14px;
  }

  .venn-intersection {
    font-size: 10px;
  }
}

@media only screen and (min-width: 700px) {
  .venn-circle {
    font-size: 15px;
  }

  .venn-intersection {
    font-size: 11px;
  }
}